@page
@using SacramentMeetingPlanner.Models
@model SacramentMeetingPlanner.Pages.Program.CreateModel

@{
    ViewData["Title"] = "Create Program";
}

<head>
    <link rel="stylesheet" href="~/css/CreateEditDelete.css" />
</head>

<h1>Create Program</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Program.DateOfMeeting" class="control-label"></label>
                <input asp-for="Program.DateOfMeeting" class="form-control" />
                <span asp-validation-for="Program.DateOfMeeting" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[0].ParticipantRole" value="@ParticipantRoles.PresidingLeader.ToString()" type="hidden" />
                <label class="control-label">Presiding</label>
                <select asp-for="Program.Participants[0].ParticipantTitle" class="form-control">
                    <option disabled selected>Title</option>
                    <option value="Bishop">Bishop</option>
                    <option value="Brother">Brother</option>
                    <option value="Elder">Elder</option>
                    <option value="Sister">Sister</option>
                    <option value="President">President</option>
                    <option value="Counselor">Counselor</option>
                </select>
                <input asp-for="Program.Participants[0].FullNameOfParticipant" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Program.Participants[0]" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[1].ParticipantRole" value="@ParticipantRoles.ConductingLeader.ToString()" type="hidden" />
                <label class="control-label">Conducting</label>
                <select asp-for="Program.Participants[1].ParticipantTitle" class="form-control">
                    <option disabled selected>Title</option>
                    <option value="Bishop">Bishop</option>
                    <option value="Brother">Brother</option>
                    <option value="Elder">Elder</option>
                    <option value="Sister">Sister</option>
                    <option value="President">President</option>
                    <option value="Counselor">Counselor</option>
                </select>
                <input asp-for="Program.Participants[1].FullNameOfParticipant" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Program.Participants[1]" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.OpeningSong" class="control-label"></label>
                <input asp-for="Program.OpeningSong" class="form-control" />
                <span asp-validation-for="Program.OpeningSong" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[2].ParticipantRole" value="@ParticipantRoles.OpeningPrayer.ToString()" type="hidden" />
                <label class="control-label">Opening Prayer</label>
                <select asp-for="Program.Participants[2].ParticipantTitle" class="form-control">
                    <option disabled selected>Title</option>
                    <option value="Bishop">Bishop</option>
                    <option value="Brother">Brother</option>
                    <option value="Elder">Elder</option>
                    <option value="Sister">Sister</option>
                    <option value="President">President</option>
                    <option value="Counselor">Counselor</option>
                </select>
                <input asp-for="Program.Participants[2].FullNameOfParticipant" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Program.Participants[2]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program.SacramentHymn" class="control-label"></label>
                <input asp-for="Program.SacramentHymn" class="form-control" />
                <span asp-validation-for="Program.SacramentHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.ClosingSong" class="control-label"></label>
                <input asp-for="Program.ClosingSong" class="form-control" />
                <span asp-validation-for="Program.ClosingSong" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Program.Participants[3].ParticipantRole" value="@ParticipantRoles.ClosingPrayer.ToString()" type="hidden" />
                <label class="control-label">Closing Prayer</label>
                <select asp-for="Program.Participants[3].ParticipantTitle" class="form-control">
                    <option disabled selected>Title</option>
                    <option value="Bishop">Bishop</option>
                    <option value="Brother">Brother</option>
                    <option value="Elder">Elder</option>
                    <option value="Sister">Sister</option>
                    <option value="President">President</option>
                    <option value="Counselor">Counselor</option>
                </select>
                <input asp-for="Program.Participants[3].FullNameOfParticipant" class="form-control" />
                <span asp-validation-for="Program.Participants[3]" class="text-danger"></span>
            </div>
            
            <div>
                <label>Speakers</label>
                @for (int i = 4; i < Model.Program.Participants.Where(x => x.ParticipantRole == ParticipantRoles.Speaker.ToString()).ToList().Count + 4; i++)
                {
                    <input asp-for="@i" type="hidden" />
                    <input asp-for="Program.Participants[i].ParticipantRole" value="@ParticipantRoles.Speaker.ToString()" type="hidden" />
                    <div class="form-group">
                        <select asp-for="@Model.Program.Participants[i].ParticipantTitle" class="form-control">
                            <option disabled selected>Title</option>
                            <option value="Bishop">Bishop</option>
                            <option value="Brother">Brother</option>
                            <option value="Elder">Elder</option>
                            <option value="Sister">Sister</option>
                            <option value="President">President</option>
                            <option value="Counselor">Counselor</option>
                        </select>
                        <input asp-for="Program.Participants[i].ParticipantTitle" value="" type="hidden" />
                        <input type="text" class="form-control" asp-for="@Model.Program.Participants[i].FullNameOfParticipant" placeholder="Name">
                        <input type="text" class="form-control" asp-for="@Model.Program.Participants[i].TalkSubject" placeholder="Name">
                    </div>

                    <button type="submit" asp-page-handler="removeParticipant" asp-route-id="@i" asp-route-index="@i">Remove Speaker</button>
                    <br />
                    <br />
                }
                <br />
                <br />
                <button type="submit" asp-page-handler="addParticipant">Add Speaker</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Program" asp-page-handler="saveprogram" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Programs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
